/* * 
{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}


body{
    padding: 20px;
}

header{
    margin-top: 20px auto;
    max-width: 85%;
    margin-left: 90px;
    display: -webkit-flex;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(143, 39, 146);
}

header .nav-menu{
    list-style-type: none;
}

header .nav-menu li{
    display: inline-block;
    margin-right: 80px;
}

header .nav-menu li a{
    display: block;
    font-size:20px; 
    color: rgb(143, 39, 146); 
    font-weight:500;
    transition: 1s all ease;
    text-decoration: none;
    cursor: pointer;
}

header .nav-menu li a:hover {
    font-size:20px; 
    color:rgb(241, 171, 241); 
    font-weight:500;
   }

.welcome{
    margin-left: 150px;
    margin-top: 30px;
    
}

.welcome_article{
    margin-top: 30px;
}

.photo{
    background-image: url("Amina.jpg");
    margin-left: 190px;
	margin-top: 20px;
	width: auto;
	height: 600px;
	background-repeat: no-repeat;
	background-size: 20%;
	border-radius: 5px;
}

.text-inf{
    margin-left: auto;
	margin-top: auto;
	width: 850px;
	height: 600px;
	float:right;
}

.contacts{
    margin-left: auto;
	margin-top: 20px;
	width: 850px;
	height: 600px;
	float:right;
}
.skills{
    margin-left: auto;
	margin-top: 10px;
	width: 850px;
	height: 600px;
	float:right;
}

.code{
    margin-top: 10px;
    margin-left: 100px;
} */







html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(116, 44, 116);
}

.header, .main, .footer {
    border: 1px solid violet;
}

.header, .footer {
    border: 1px solid violet;
    background-color: rgb(250, 169, 210);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* header-- */
.nav-menu{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    text-decoration: none;
    color: darkmagenta;
}

.nav-link:hover {
    font-size:20px; 
    color: white;
    font-weight:500;
   }
/* --header */

/* footer-- */
.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-info{
    display: flex;
    align-items: center;
}

.footer-info > div{
    padding: 0 20px;
}

.git-link a{
    text-decoration: none;
    color: darkmagenta;
}

.git-link a:hover{
    color: white;
}

.footer-rsschool img{
    height: 50px;
}


/* media -- */

@media (max-width:768px) {
    .section {
        width: 100%;
    }
}

/* --media */

/* --footer */

/* main-- */
.main {
    flex-grow: 2;
}

.main-container{
    padding: 50px 0;
}
.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: darkmagenta;
}
.section-list {
    list-style: none;
}

.main-photo img {
    height: 500px;
    
}
.main-container-top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main-container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-container-right{
    max-width: 50%;
    text-align: justify;
}

.main-container-right .section {
    width: 100%;
   
}


.main-container-bottom {
    display: flex;
    flex-wrap: wrap;
    margin: 60px 20px 0 20px;
}
.section {
    width: 50%;
}